#face{
    width: 100%;
    height: 100%;
    position: fixed;
    right: 150px;
    top: 0px;
    z-index: 999;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}
 

.sidenav {
    height: 100%;
    width: 0; /*原始宽度*/
    position: fixed;
    /*z-index、top、left共同控制侧栏的悬浮（上方1，下方-1）*/
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
}
 
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
 

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
 
/*侧栏和关闭按钮的位置选择器*/
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
 

 
/*当文档高度小于450px时，改变侧栏的padding属性和字体大小*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.menu{
    font-size:30px;
    cursor:pointer;
    position: absolute;
    right: 0;

}